.contentWrapper .sideBar h2{
    font-size:25px;
    color:#b6b6b6;
    padding-left:17px;
    padding-bottom:18px;
    margin-bottom:0;
    border-bottom:1px solid #fffffd;
}

.section{
    /*font-family:"Myriad Pro";*/
    width:100%;
    margin-bottom:20px;
}
.sectionDetail{
    border-bottom:1px solid #e8e8e8;
    margin-bottom:42px;
}
.section ul{
}
.section ul li{
    border-bottom:1px solid #fffffd;
    border-top:1px solid #e8e8e8;
    /*padding:8px 19px 7px 12px;if font-family is Myriad Pro*/
    padding:10px 19px 7px 12px;
}
.section h5{
    margin-bottom:10px;

}
.section h5 a,
.section h5 a:visited{
    color:#414b55;
    font-size:17px;/*font-family is arial must be 16px*/
    /*font-size:18px; if font-family is Myriad Pro then 18px would be perfect*/
    text-decoration:none;
}
.section h5 a:hover{
    text-decoration:underline;
}
.section h5 .prize{
    float:right;
    color:#414b55;
    font-size:18px;
}
.section h5 .go{
    float:right;
    font-weight:bold;
}
.section h5 .go a,
.section h5 .go a:visited{
    color:#21a2ed;
    text-decoration:none;
    background:url(../i/blueArrow.gif) no-repeat left center;
    padding-left:11px;
    font-size:12px;
    /*font-size:13px; if font-family is Myriad Pro then 13px would be perfect*/
}
.section h5 .go a:hover{
    text-decoration:underline;
}
.section .description{
    font-size:11px;/*font-family is arial must be 11px*/
    /*font-size:12px; if font-family is Myriad Pro then 12px would be perfect*/

    padding-bottom:6px;
    color:#a6a6a6;
}
.section .description .line{
    display:inline-block;
    padding:0 4px;
}
.section .linkContainer{
    display:inline-block;
    padding-top:7px;
}
.section .moreDetail{
    padding-right:28px;
}
.section .register{
    padding-right:34px;
}
.section .linkContainer a,
.section .linkContainer a:visited{
    background:url(../i/blueArrow.gif) no-repeat left center;
    padding-left:12px;
    text-decoration:none;
    color:#21a2ed;
    font-weight:bold;
    font-size:12px;
    /*font-size:13px; if font-family is Myriad Pro then 13px would be perfect*/
}
.section .linkContainer a:hover{
    text-decoration:underline;
}
.section p.viewAll{
    border-top:1px solid #e8e8e8;
    text-align:right;
    padding-right:19px;
    padding-top:8px;
}
.section p.viewAll a,
.section p.viewAll a:visited{
    text-decoration:underline;
    background:url(../i/grayArrow.gif) no-repeat left center;
    padding-left:11px;
    color:#7e7e7e;
    font-size:12px;/*font-family is arial must be 12px*/
    /*font-size:13px; if font-family is Myriad Pro then 13px would be perfect*/
    font-weight:bold;
}
.section p.viewAll a:hover{
    text-decoration:none;
}
/*My_Account*/
#myAccount .contentWrapper{
    padding-bottom:0;
}
.myAccountBox{
    float:left;
    display:inline;
    width:421px;
    padding-left:8px;
    padding-bottom:50px;
}
.leftBox{
    margin-right:34px;
}
.form{
    padding:18px 0 36px 0;
}
.form p{
    margin-bottom:10px;
    color:#4c4c4c;
    padding-left:20px;
}
.form p .checkIcon{
    background:url(../i/checkIcon.png) no-repeat center center;
    width:27px;
    height:27px;
    display:inline-block;
    float:right;
    margin-right:10px;
}
.form p label{
    display:inline-block;
    float:left;
    margin-top:5px;
    width:134px;
    text-align:left;
    font-size:13px;
    font-weight:bold;
    color:#414b55;
}
.form p.textLabel{
    padding-bottom:2px;
}
.form p.textLabel span{
    line-height:24px;
    font-size:12px;
}
.form p.registerHandle label{ 
    float:left;
}
.form p.registerHandle span.clear{ 
    display:block;
}
.form p.registerHandle input.text{
    width:76px;
    float:left;

}
.form p.registerHandle .jsFormElement{ 
    float:left;
    margin-left:6px;
}
.form p.registerHandle select{
    width:100px;
}
.form p.textLabel span{
    line-height:24px;
    font-size:12px;
}
.form p.longLabel{
}
.form p.longLabel label{
    width:146px;
}
.form p.longLabel span{
    display:inline-block;
    padding-left:8px;
    position:relative;
    top:3px;
}
.form p label.RNlabel{
    float:none;
    width:auto;
    font-size:13px;
    padding-left:7px;
    padding-right:12px;
    font-weight:normal;
    margin-top:0px;
}
.form p input.text{
    color:#4c4c4c;
    width:208px;
}
.form p.notiFormat{
    padding-top:10px;
}
.confirmSection{

    padding-top:20px;
    padding-bottom:12px;
    text-align:center;
}
.confirmSection .greenBtn .middle{
    padding-left:15px;
    padding-right:15px;
}
/**
*  Public Profile page
**/
.quote{
    border-bottom:1px solid #ededed;
    margin-bottom:25px;
}
.quote p{
    font-size:18px;
    color:#414b55;
    font-style:italic;
    border:1px #c9c9c9 dotted;
    padding:15px 26px 13px;
    background:#fff;
}
#profilePage .article{
}
#profilePage .article .title{
    position:relative;
    z-index:20;
}
#profilePage .articleDetail{
    background:url(../i/boxShadow.png) no-repeat right bottom;
    background:url(../i/boxShadow_ie.png) no-repeat right bottom!important;
    width:590px;
    padding-right:10px;
    padding-bottom:12px;
    padding-left:0;
    position:relative;
    margin-bottom:8px;
    top:-5px;
    z-index:10;
}
.articleC{
    position:relative;
    width:552px;
    padding:26px 15px 20px 21px;
    border-left:1px solid #dcdcdc;
    border-right:1px solid #cacaca;
    border-bottom:1px solid #cacaca;
    z-index:1;
    background:#fff;
}
.articleC .corner{
    position:absolute;
    background-image:url(../i/grayCorner.gif);
    width:5px;
    height:5px;
    display:block;
    background-repeat:no-repeat;
    overflow:hidden;
}
.articleC .bl{
    background-position:0 -5px;
    bottom:-1px;
    left:-1px;
}
.articleC .br{
    background-position:-5px -5px;
    bottom:-1px;
    right:-1px;
}
.box{
    float:left;
    width:300px;
    display:inline;
}
.boxFullWidth{
    width:95%;
}
.box h6,
.leaderBoardBox h6{
    color:#414b55;
    font-size:17px;
    margin-bottom:18px;
}
.box .achiveList{
    background:url(../i/achivementBG.gif) no-repeat 0 0;
    padding-left:6px;
    display:inline-block;
    width:auto;
    height:48px;
    overflow:hidden;
    margin-bottom:4px;
}
.box .achiveList .right{
    background:url(../i/achivementBG.gif) no-repeat 100% -96px;
    padding-right:6px;
    display:inline-block;
    width:auto;
}
.box .achiveList .middle{
    background:url(../i/achivementBG.gif) repeat-x 0 -48px;
    padding-left:4px;
    padding-right:15px;
    display:inline-block;
    width:auto;
    height:48px;
    overflow:hidden;
}
.boxFullWidth .achiveList{
    width:548px;
}
.boxFullWidth .achiveList .right{
    width:542px;
}
.boxFullWidth .achiveList .middle{
    width:526px;
}
.box .achiveList img{
    display:inline;
    margin-top:5px;
    float:left;
}
#profilePage .box .achiveList p{
    background-position:left 6px;
    background-repeat:no-repeat;
    padding-left:50px;
    min-height:30px;
    padding-top:7px;
    font-size:12px;
    color:#414b55;
    line-height:15px;
}
#profilePage .box .achiveList p.achivementIconGreen{
    background-image:url(../i/achivementIconGreen.png)!important;
    background-image:url(../i/achivementIconGreen_ie.png);
}
#profilePage .box .achiveList p.achivementIconOrange{
    background-image:url(../i/achivementIconOrange.png)!important;
    background-image:url(../i/achivementIconOrange_ie.png);
}
#profilePage .box .achiveList p.achivementIconBlue{
    background-image:url(../i/achivementIconBlue.png)!important;
    background-image:url(../i/achivementIconBlue_ie.png);
}
#profilePage .box .achiveList p.achivementIconRed{
    background-image:url(../i/achivementIconRed.png)!important;
    background-image:url(../i/achivementIconRed_ie.png);
}
.leaderBoardBox{
    float:left;
    width:213px;
    display:inline;
    margin-left:39px;
}
.leaderBOne{
    margin-left:0;
}
.leaderBoardBox table{
    margin-bottom:14px;
    width:100%;
    border-collapse:collapse;
}
.leaderBoardBox table td{
    font-weight:bold;
    text-align:center;
    border:2px solid #fffffe;
    height:24px;
    line-height:24px;
    background:#e8e8e8;
    font-size:14px;
    color:#414b55;
}
.leaderBoardBox  table td a,
.leaderBoardBox  table td a:visited{
    text-decoration:underline;
    color:#414b55;
}
.leaderBoardBox  table td a:hover{
    text-decoration:none;
}
.leaderBoardBox table td.odd{
    background:#f4f4f4;
}
.leaderBoardBox a.viewAll,
.leaderBoardBox a.viewAll:visited{
    text-decoration:underline;
    background:url(../i/blueArrow.gif) no-repeat left center;
    padding-left:10px;
    color:#21A2ED;
    font-size:14px;
}
.leaderBoardBox a.viewAll:hover{
    text-decoration:none;
}
.contentWrapper .sideBar .userSection{
    padding-bottom:15px;
}
.contentWrapper .sideBar .userSection h2{
    border-bottom:none;
}
.contentWrapper .sideBar .userSection img{
    width:274px;
    margin-left:20px;
    display:block;
    height:253px;
}
.contentWrapper .sideBar .userSection div{
    border-bottom:1px solid #E8E8E8;
    border-top:1px solid #fff;
    margin-top:18px;
}
.contentWrapper .sideBar .userSection h5{
    border-top:1px solid #E8E8E8;
    padding-left:15px;
    padding-right:18px;
    padding-top:13px;

}
.contentWrapper .sideBar .userSection h5{
    margin-bottom:10px;

}
.contentWrapper .sideBar .userSection h5 a,
.contentWrapper .sideBar .userSection h5 a:visited{
    color:#414b55;
    font-size:17px;/*font-family is arial must be 16px*/
    /*font-size:18px; if font-family is Myriad Pro then 18px would be perfect*/
    text-decoration:none;
}
.contentWrapper .sideBar .userSection h5 a:hover{
    text-decoration:underline;
}
.contentWrapper .sideBar .userSection h5 .prize{
    float:right;
    color:#414b55;
    font-size:18px;
}
.contentWrapper .sideBar .userSection p{
    padding-left:15px;
    padding-right:18px;
    font-size:13px;
    color:#414b55;
    padding-bottom:10px;

}
.contentWrapper .sideBar .userSection p.last{
    border-bottom:1px solid #fff;

}
.contentWrapper .sideBar .userSection p label{
    padding-bottom:1px;
    font-weight:bold;
    width:107px;
    text-align:left;
    display:inline-block;
}
.contentWrapper .sideBar .userSection p label.dailyAver{
    padding-left:30px;
}
.contentWrapper .sideBar .userSection p a,
.contentWrapper .sideBar .userSection p a:visited{
    color:#21A2ED;
    text-decoration:underline;
}
.contentWrapper .sideBar .userSection p a:hover{
    text-decoration:none;
}
.contentWrapper .sideBar .shareSection h2{
    border-bottom:none;
}
.shareSection textarea{
    margin-left:20px;
    border:1px solid #d8d8d8;
    height:70px;
    width:268px;
    margin-top:12px;
    margin-bottom:13px;
}
.shareSection .buttonBox{
    margin-bottom:0;
    padding-left:20px;
    padding-bottom:3px;
    border-bottom:1px solid #fffffd;
}
.shareSection ul{
    border-bottom:1px solid #e8e8e8;
}
.shareSection ul li{
    padding:8px 18px;
    border-top:1px solid #e8e8e8;
    border-bottom:1px solid #fffffd;
}
.shareSection ul li h5{
    background:url(../i/leaveMessageIcon.gif) no-repeat left 2px;
    padding-left:55px;
    padding-bottom:13px;
}
.shareSection ul li h5 a,
.shareSection ul li h5 a:visited{
    text-decoration:none;
    color:#414b55;
    font-size:17px;
}
.shareSection ul li h5 a:hover{
    text-decoration:underline;
}
.shareSection ul li h5 span{
    font-size:11px;
    color:#a6a6a6;
    font-weight:normal;
    margin-top:3px;
    display:block;
}
.shareSection ul li p{
    font-size:11px;
    color:#a6a6a6;
    line-height:15px;
}
/**
*  blog page
**/
#blogList .contentWrapper .listSection dl dd,
#blogList .contentWrapper .listSection dl dt{
    margin-left:0;
}
#blogList .contentWrapper .listSection dl dt{
    margin-bottom:30px;
}
.contentWrapper .blogList{
    width:541px;/*original is 561px, keep in mind must minus the padding*/
    padding:10px;
}
.blogList .dateTime{
    float:left;
    width:55px;
    margin-right:15px;
}
.blogList .dateTime .month{
    display:block;
    background:#254c64;
    color: #fffffe;
    font-size:14px ;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
}
.blogList .dateTime .day{
    display:block;
    border:1px solid #94A2BF;
    border-top:none;
    color: #414B55;
    font-size: 24px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 53px;
}
.blogList a.heading,
.blogList a.heading:visited{
    color:#414B55;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
}
.blogList a.heading:hover{
    text-decoration:underline;
}
.blogList span.title{
    color:#414B55;
    font-weight:bold;
}
.blogList .authorInfo{
    margin-top:5px;
    font-weight:normal;
    display:block;
    font-size:12px;
}
.contentWrapper .blogList .authorInfo a,
.contentWrapper .blogList .authorInfo a:visited{
    font-weight:bold;
    text-decoration:none;
    color:#21A2ED;
    font-size:12px;
}
.blogList .authorInfo a:hover{
    text-decoration:underline;
}
.blogList .blogContent{
    padding:10px 0;
    font-size:12px;
    color:#4c4c4c;
    line-height:15px;
}
.blogList .blogContent p{
    margin-bottom:10px;
}
.blogList .blogContent p a,
.blogList .blogContent p a:visited{
    text-decoration:none;
    font-weight:bold;
    color:#21A2ED;
}
.blogList .blogContent p a:hover{
    text-decoration:underline;
}
.responseBox{
    padding-bottom:40px;
    padding-right:40px;
    padding-left:10px;
    font-size:12px;
    color:#4c4c4c;
}
.responseBox ol li{
    border:1px solid #d8d8d8;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
    margin-bottom:10px;
}
.responseBox ol li.firstLevel{
    padding-left:0;
    border:none;
    border-bottom:1px solid #d8d8d8;
    margin-bottom:10px;
}
.responseBox p.heading{
    font-size:16px;
    color:#414B55;
    margin-bottom:10px;
}
.responseBox .commentContent{
    margin-bottom:10px;
    line-height:15px;
}
.responseBox img{
    float:left;
    margin-right:10px;
    border:1px solid #d8d8d8;
}
.responseBox textarea{
    width:500px;
    border:1px solid #d8d8d8;
    padding:4px;
    height:200px;
    margin-bottom:10px;
}
.responseBox .author,
.responseBox .author:visited{
    text-decoration:none;
    font-weight:bold;
    margin-right:5px;
    font-size:12px;
    color:#21A2ED;
}
.responseBox .author:hover{
    text-decoration:underline;
}
.responseBox .link,
.responseBox .link:visited{
    text-decoration:underline;
    display:inline-block;
    margin-bottom:10px;
    margin-right:5px;
    font-size:12px;
    padding-bottom:1px;
    color:#21A2ED;
}
.responseBox .link:hover{
    text-decoration:none;
}	
.responseBox .link2,
.responseBox .link2:visited{
    text-decoration:underline;
    display:inline-block;
    font-size:12px;
    padding-bottom:1px;
    color:#21A2ED;
}
.responseBox .link2:hover{
    text-decoration:none;
}	
.responseBox .dateTime{
    font-size:12px;
    color:#4c4c4c;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
}
.responseBox .pager,
.categoryArea .pager{
    padding-right:0;
}
.responseBox .pager ul,
.categoryArea .pager ul{
    float:right;
}
.pager ul .firstPageArrow a,
.pager ul .firstPageArrow a:visited{
    letter-spacing:-10px;
    padding-left:10px;
    width:35px;
}
.pager ul .prevArrow a,
.pager ul .prevArrow a:visited{
}
.pager ul .nextArrow a,
.pager ul .nextArrow a:visited{
}
.pager ul .lastPageArrow a,
.pager ul .lastPageArrow a:visited{
    letter-spacing:-10px;
}
.pager ul a:hover{
    color:#fffffe;
}

/*footer*/
#footer{
    padding-bottom:93px;
    color:#c2c2c2;
    font-size:13px;
    text-align:center;
    padding-top:14px;
}
#footer ul{
    margin-bottom:12px;
    float:left;
    display:inline;
    position:relative;
    left:50%;
}
#footer ul li{
    float:left;
    display:inline;
    border-left:1px solid #adabab;
    padding:0 10px;
}
#footer ul li.first{
    border:none;
}
#footer ul li a,
#footer ul li a:visited{
    color:#adabab;
    font-weight:bold;
    text-decoration:none;
}
#footer ul li a:hover{
    text-decoration:underline;
}
.pager{
    padding-top:10px;
    padding-right:40px;
}
.pager ul{
    float:left;
    display:inline;
}
.pager ul li{
    float:left;
    display:inline;
}
.pager ul a,
.pager ul a:visited{
    background:url(../i/pagerBullet.png) no-repeat left center;
    width:31px;
    height:44px;
    display:inline;
    padding-left:14px;
    font-size:26px;
    color:#adabab;
    text-decoration:none;
    line-height:40px;
    overflow:hidden;
    float:left;
    display:inline;
}
.pager ul a:hover{
    color:#fffffe;
}
.pager ul li.current a,
.pager ul li.current a:visited{
    background:url(../i/pagerCurrent.png) no-repeat left center;
    color:#fffffe;
}
.pager a,
.pager a:visited{
    float:right;
}
input.text{
    border:1px solid #e2e2e2;
    height:27px;
    line-height:27px;
    padding:0 6px;
    color:#414b55;
    font-size:14px;
}
.clear{
    clear:both;
}
.hide{
    display:none;
}
.title{
    background:url(../i/titleBG.gif) no-repeat 0 0;
    padding-left:6px;
    display:inline-block;
    width:auto;
    height:35px;
    line-height:35px;
    overflow:hidden;
    font-size:18px;
    color:#fffffe;
}
.title .right{
    background:url(../i/titleBG.gif) no-repeat 100% -70px;
    padding-right:6px;
    display:inline-block;
    width:auto;
}
.title .middle{
    padding-left:14px;
    padding-right:9px;
    background:url(../i/titleBG.gif) repeat-x 0 -35px;
    display:inline-block;
    width:auto;
    height:35px;
    line-height:35px;
    overflow:hidden;
}
.contentMain .title{
    width:415px;

}
.contentMain .right{
    width:409px;
}
.contentMain .middle{
    width:386px;
}
.mainColumn .title{
    cursor:pointer;
    width:585px;
}
.mainColumn .title .right{
    cursor:pointer;
    width:579px;
}
.mainColumn .title .middle{
    cursor:pointer;
    width:556px;
}